<html>
    <head></head>
    <body>
	Hallo {$user.username},<br /><br />
	hier sind die neuesten Beiträge aus dem {$forumname}. <br /><br />
	
	{foreach item=thread from=$threads}
	    <div style="font-weight:bold; margin-top: 20px;">Rubrik: {$thread.category_title}</div>
	    <div style="font-weight:bold; margin-bottom:10px; ">Thema: {$thread.title}</div>
	    
	    {foreach item=post from=$thread.posts}
		<div style="border-top: 1px solid black; margin-bottom: 10px; padding-top: 10px;" >
		    
		    {if $post.0._author.0.username}<span style="">{$post.0._author.0.username}:</span>{/if}
		    <span style="">{$post.tstamp|date_format:$dateFormat}</span><br />
		    {$post.content}<br />
		    <a href="{$post.link}">zum Beitrag</a>
		</div>
	    {/foreach}
	    
	{/foreach}
	
	<p style="font-style: italic; margin-top: 20px;">Sie erhalten diese E-Mail, weil Sie im {$forumname} die Benachrichtigung über neue Beiträgen aktiviert haben. 
	Ihre persönlichen Einstellungen können Sie <a href="{$linkProfile}">hier</a> ändern.</p>
	<p style="margin-top: 20px;">{$footer}</p>

    </body>
</html>