<html>
    <head></head>
    <body>
	Hallo {$recipient_name},<br /><br />
	hier im {$forumname} wurde auf einen Ihrer Beitr&auml;ge geantwortet. <br /><br />
	<b>Rubrik:</b> {$category.title} <br  />
	<b>Thema:</b>{$thread.title}<br />
	<b>Benutzer:</b> {$username}<br />
	<b>Datum:</b>{$post.tstamp|date_format:$dateFormat}<br /><br />
	<b>Beitrag:</b><br />
	{$text}<br /><br />
	<a href="{$linkPost}">zum Beitrag</a><br /><br />
	Sie erhalten diese E-Mail, weil Sie im {$forumname} die Benachrichtigung bei Antworten auf eigene Beitr&auml;ge aktiviert haben. <br />
	<p>Ihre persönlichen Einstellungen können Sie <a href=" {$linkProfile}">hier</a> ändern.</p>
	{$footer}
    </body>
</html>