{literal}
    <script type="text/javascript" language="JavaScript">
	window.print();
    </script>
{/literal}


<div class="tx-keforum">
    <div class="printview">
	
	<input type="button" onclick="window.close();" value="%%%posts.closewindow%%%" class="closeWindowButton">
	
	<h1>%%%breadcrumb.home%%% > {$threads.0._category.0.title} > {$threads.0.title}</h1>
	<!--<h2>{$threads.0.title}</h2>-->
	{if $posts}
	    {foreach item=row from=$posts}
		<div class="post">
		    <div class="head">{$row.tstamp|date_format:$dateFormat} | {$row._author.0.first_name} {$row._author.0.last_name} </div><!--| %%%posts.member_since.0%%%: %%%posts.member_since.1%%%  {$row._author.0.crdate|date_format:$dateFormatMember} | %%%posts.posts%%%: {$row._author.0.numberOfPosts}<hr />-->
		    <p class="content">{$row.content|nl2br}</p>
		</div>
	    {/foreach}
	{/if}
    </div>
</div>


